<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">{{message}}</div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停此处几秒，
            可以看到此处动态绑定的 title!
        </span>
    </div>
    <div id="app-3">
        <span v-if="seen">现在你可以看到我</span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">翻转 message</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message" type="text">
    </div>
    <div id="app-7">
        <ol>
            <todo-item 
                v-for="item in groceryList" 
                v-bind:todo="item"
                v-bind:key="item.id"/>

            </todo-litem>
        </ol>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })

    var app2 = new Vue({
        el: '#app-2',
        data:{
            message: '页面加载于' + new Date().toLocaleString()
        }
    })

    var app3 = new Vue({
        el: "#app-3",
        data:{
            seen: true
        }
    })

    var app4 = new Vue({
        el:"#app-4",
        data:{
            todos:[
                { text: '学习 Javascript' },
                { text: '学习 Vue' },
                { text: '创建哈哈的代码' }
            ]
        }
    })

    var app5 = new Vue({
        el: "#app-5",
        data:{
            message: 'Hello VUe.js'
        },
        methods: {
            reverseMessage: function(){
                this.message = this.message.split('').reverse().join('')
            }
        },
    })

    var app6 = new Vue({
        el: "#app-6",
        data: {
            message: 'Hello Vue!'
        }
    })

    //定义一个名为 todo-item的组件
    Vue.component('todo-item', {
        //todo-item 组件现在接受一个“prop”
        //类似一个自定义属性
        //此prop名为todo
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })

    var app7 = new Vue({
        el:"#app-7",
        data:{
            groceryList:[
                {id:0, text:'蔬菜'},
                {id:1, text:'奶酪'},
                {id:2, text:'其他食物'}
            ]
        }
    })

</script>
</html>